<div class="navigation-bar-container">
  <nav class="left-side">
    <ul class="navigation">
      <li><a href="" class="brk-btn">Računala i mobiteli</a></li>
      <li><a href="" class="brk-btn">Sport</a></li>
      <li><a href="" class="brk-btn">Kozmetika</a></li>
      <div class="dropdown">
        <li><a href="" class="brk-btn">Odjeća i obuća</a></li>
        <div class="big-dropdown-content">
          <div class="header">
            <h2>Odjeća i obuća</h2>
          </div>
          <div class="row">
            <div class="column">
              <h3>Category 1</h3>
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="column">
              <h3>Category 2</h3>
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="column">
              <h3>Category 3</h3>
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </nav>
  <nav class="right-side">
    <ul class="navigation">
      <li>
        <div class="dropdown" style="float:right;">
          <a href=""><fa-icon [icon]="faShoppingCart"></fa-icon></a>
          <div class="dropdown-content"></div>
        </div>
      </li>

      <li>
        <div class="dropdown" style="float:right;">
          <a href=""><fa-icon [icon]="faUser"></fa-icon></a>
          <div class="dropdown-content">
            <a class="dropdown-link" href="#">Dashboard</a>
            <a class="dropdown-link" href="#">Novi proizvod</a>
            <a class="dropdown-link" href="#">Moj Profil</a>
            <a class="dropdown-link" href="#">Odjava</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
