$black: #0b0c10;
$lighter-black: #1a1d27;
$grey: #c5c6c7;
$flourescent-blue: #66fcf1;
$flourescent-blue-faded: #66fcf293;

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -3px;
}

.small-dropdown-content .mat-badge-medium.mat-badge-above .mat-badge-content {
  left: 90px;
}

nav {
  font-size: 12pt;
  font-family: Comfortaa;
}

fa-icon {
  font-size: 15pt;
  background-color: $black;
}

.navigation-bar-container {
  background-color: $black !important;
  width: 100%;
  color: $flourescent-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.navigation li {
  float: left;
  list-style-type: none;
  margin: 0 10px;

  a {
    display: block;
    text-decoration: none;
    color: $flourescent-blue-faded;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      color: $flourescent-blue;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  z-index: 1;
  background-color: $black !important;
}

.big-dropdown-content {
  display: none;
  position: absolute;
  background-color: $lighter-black;
  width: 800px;
  left: -300px;
  top: 58px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &#no-offset {
    left: 0;
  }

  &#two-columns {
    width: 500px;
  }
}

.header {
  border-bottom: 4px solid $flourescent-blue;
  padding: 20px 5px;
  background-color: $black;
}

.column {
  float: left;
  width: 33.33%;
  padding-top: 10px;

  a {
    float: none;
    color: $flourescent-blue-faded;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: #262a38;
      color: $flourescent-blue;
    }
  }
}

#two-columns .column {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

//Animacija
.underlined-a {
  text-decoration: none;
  color: $flourescent-blue-faded;
  padding-bottom: 0.15em;
  box-sizing: border-box;
  box-shadow: inset 0 -0.2em 0 $flourescent-blue-faded;
  transition: 0.2s;
  &:hover {
    color: $black;
    box-shadow: inset 0 -2em 0 $flourescent-blue;
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.brk-btn {
  margin: 10px 0;
  position: relative;
  background: none;
  color: $flourescent-blue-faded;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid $flourescent-blue-faded;
  padding: 0.5em 1em;
  font-weight: 600;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: $black;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: $black;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    color: $flourescent-blue;
    border-color: $flourescent-blue;
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}

.column {
  fa-icon {
    font-size: 20pt;
    background-color: $lighter-black;
  }

  fa-icon#child {
    font-size: 15pt;
  }
}

.login-dropdown {
  width: 200px !important;
  text-align: center;
  padding: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.small-dropdown {
  position: relative;
  display: inline-block;

  span {
    margin-right: 10px;
  }
}

.small-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  z-index: 1;
  background-color: $black !important;

  &#cart-dropdown {
    background-color: white !important;
    width: 500px;
    min-height: 50px;
    border-radius: 5px;
    padding: 10px;

    .item {
      color: $black;
      font-size: 1.2em;
      display: grid;
      padding-top: 5px;
      grid-template-columns: repeat(3, 33%);

      img {
        width: 100%;
      }

      .name a.product-link {
        color: $black;
        padding: 0;
        margin: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .price {
        padding-top: 3px;
        font-size: 0.7em;
      }

      .delete button {
        float: right;
        background-color: white;
        width: initial !important;
        border: 0;

        &:hover {
          background-color: rgb(192, 192, 192);

          fa-icon {
            background-color: rgb(192, 192, 192);
          }
        }

        fa-icon {
          background-color: white;
          color: $black;
        }
      }
    }

    .cart-summary {
      border-top: 1px solid $grey;
      color: $black;

      p {
        text-align: left;
      }
    }

    p {
      margin-top: 15px;
      text-align: center;
      color: $black;
    }
  }

  button {
    width: calc(100% - 10px);
    background-color: $flourescent-blue-faded;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.25em;
    margin: 5px;

    &:hover {
      background-color: $flourescent-blue;
    }

    a {
      color: black !important;
    }
  }

  small {
    font-size: 0.75em;
    color: $grey;
  }
}

.small-dropdown:hover .small-dropdown-content,
.small-dropdown-content:hover .small-dropdown-content,
.dropdown:hover .big-dropdown-content,
.big-dropdown-content:hover .big-dropdown-content {
  display: block;
}

#register-link {
  padding: 0 !important;
  margin: 0;
}
