<div class="navigation-bar-container">
  <nav class="left-side">
    <ul class="navigation">
      <li><a [routerLink]="['/']" href="" class="brk-btn">Naslovna</a></li>
      <div class="dropdown">
        <li><a href="" class="brk-btn">IT Oprema</a></li>
        <div id="no-offset" class="big-dropdown-content">
          <div class="header">
            <h2>IT Oprema</h2>
          </div>
          <div class="row">
            <div class="column">
              <h3>
                <fa-icon [icon]="faMemory"></fa-icon> Komponente
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Memorija'}" href="#">Memorija</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'RAM'}" href="#">RAM</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Procesori'}" href="#">Procesori</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Grafičke kartice'}" href="#">Grafičke
                kartice</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Napajanja'}" href="#">Napajanja</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostale komponente'}" href="#">Ostale
                komponente</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon [icon]="faKeyboard"></fa-icon> Periferija
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Tipkovnice'}" href="#">Tipkovnice</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Miševi'}" href="#">Miševi</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Monitori'}" href="#">Monitori</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Audio i video'}" href="#">Audio i video</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostala periferija'}" href="#">Ostala
                periferija</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon [icon]="faDesktop"></fa-icon> Računala
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Prijenosna računala'}" href="#">Prijenosna
                računala</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Stolna računala'}" href="#">Stolna računala</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Serveri'}" href="#">Serveri</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostala računala'}" href="#">Ostala računala</a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <li><a href="" class="brk-btn">Hrana i piće</a></li>
        <div id="no-offset" class="big-dropdown-content">
          <div class="header">
            <h2>Hrana i piće</h2>
          </div>
          <div class="row">
            <div class="column">
              <h3>
                <fa-icon [icon]="faUtensils"></fa-icon> Hrana
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Voće'}" href="#">Voće</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Povrće'}" href="#">Povrće</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Kolači'}" href="#">Kolači</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Zimnica'}" href="#">Zimnica</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Meso i mesnati
              proizvodi'}" href="#">Meso i mesnati
                proizvodi</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostala hrana'}" href="#">Ostala hrana</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon [icon]="faWineGlass"></fa-icon> Piće
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Vina'}" href="#">Vina</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Sokovi'}" href="#">Sokovi</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Kava'}" href="#">Kava</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostala pića'}" href="#">Ostala pića</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon [icon]="faPepperHot"></fa-icon> Začini
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ulja'}" href="#">Ulja</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Masti'}" href="#">Masti</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Žitarice'}" href="#">Žitarice</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostali začini'}" href="#">Ostali začini</a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <li><a href="" class="brk-btn">Auto Moto</a></li>
        <div id="two-columns" class="big-dropdown-content">
          <div class="header">
            <h2>Automobili i motori</h2>
          </div>
          <div class="row">
            <div class="column">
              <h3>
                <fa-icon [icon]="faCar"></fa-icon> Automobili
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Osobni automobili'}" href="#">Osobni
                automobili</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Kamperi'}" href="#">Kamperi</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Gospodarksa vozila'}" href="#">Gospodarksa
                vozila</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostali automobili'}" href="#">Ostali
                automobili</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon [icon]="faMotorcycle"></fa-icon> Motori
              </h3>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Skuteri'}" href="#">Skuteri</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Cross'}" href="#">Cross</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Cestovni'}" href="#">Cestovni</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Quad'}" href="#">Quad</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Cestovni'}" href="#">Cestovni</a>
              <a [routerLink]="['/products']" [queryParams]="{category: 'Ostali motori'}" href="#">Ostali motori</a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <li><a [routerLink]="['/categories']" href="" class="brk-btn">Sve kateorije</a></li>
      </div>
    </ul>
  </nav>
  <nav class="right-side">
    <ul class="navigation">
      <li>
        <div class="small-dropdown" style="float:right;">
          <a matBadgeHidden="{{cart?.items?.length == 0}}" matBadge="{{cart?.items?.length}}" matBadgePosition="after"
            matBadgeColor="warn">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </a>
          <div class="small-dropdown-content" id="cart-dropdown">
            <div *ngIf="cart?.items?.length == 0" class="no-items-message">
              <p>Trenutno nemate proizvoda u košarici.</p>
            </div>
            <div *ngIf="!isLoggedIn" class="not-authenticated-message">
              <p>Da bi mogli koristiti košaricu morate se prijaviti.</p>
            </div>
            <div *ngIf="cart?.items?.length > 0" class="cart-item">
              <div *ngFor="let item of cart.items" class="item">
                <div class="image">
                  <img [src]="getProductImage(item.product_img_id)" />
                </div>
                <div class="name">
                  <a class="product-link" [routerLink]="['/product', item.product_id]"
                    href="#">{{item.product_name}}</a>
                  <div class="price">
                    {{item.quantity}} x {{item.price }} kn
                  </div>
                </div>
                <div class="delete">
                  <button (click)="removeFromCart(item.id)">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="cart-summary">
                <p>Ukupno: {{ getTotalPrice() | number:'1.2-2' }} kn</p>
                <button [routerLink]="['/cart-summary', cart.id]">Završite kupnju</button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="small-dropdown" style="float:right;">
          <a>
            <span *ngIf="isLoggedIn">{{username}}</span>
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <div *ngIf="isLoggedIn" class="small-dropdown-content">
            <a *ngIf="roleId == 1" class="dropdown-link" [routerLink]="['/admin']" href="#">Upravljačka ploča</a>
            <a *ngIf="roleId != 3" class="dropdown-link" [routerLink]="['/dashboard']" href="#">Statistika poslovanja</a>
            <a class="dropdown-link" [routerLink]="['/shopping-history', userId]" href="#">Povijest kupnje</a>
            <a class="dropdown-link" matBadgeHidden="{{numberPendingOrders == 0}}" matBadge="{{numberPendingOrders}}"
              matBadgePosition="after" matBadgeColor="warn" [routerLink]="['/selling', userId]" href="#">Narudžbe</a>
            <a class="dropdown-link" [routerLink]="['/user-products', userId]" href="#">Moji proizvodi</a>
            <a class="dropdown-link" [routerLink]="['/profile', userId]" href="#">Moj profil</a>
            <a class="dropdown-link" (click)="logout()">Odjava</a>
          </div>
          <div *ngIf="!isLoggedIn" class="small-dropdown-content" [ngClass]="{'login-dropdown' : !isLoggedIn}">
            <button class="loggin-button" type="button">
              <a [routerLink]="['/authentication']">Prijavite se</a>
            </button>
            <small>Nemate račun?
              <a id="register-link" [routerLink]="['/authentication']" [queryParams]="{ type: 'register'}">Registrirajte
                se!</a>
            </small>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>