<div class="navigation-bar-container">
  <nav class="left-side">
    <ul class="navigation">
      <li><a href="" class="brk-btn">Računala i mobiteli</a></li>
      <li><a href="" class="brk-btn">Sport</a></li>
      <li><a href="" class="brk-btn">Kozmetika</a></li>
      <div class="dropdown">
        <li><a href="" class="brk-btn">Odjeća i obuća</a></li>
        <div class="big-dropdown-content">
          <div class="header">
            <h2>Odjeća i obuća</h2>
          </div>
          <div class="row">
            <div class="column">
              <h3>
                <fa-icon [icon]="faMale"></fa-icon> Muškarci
              </h3>
              <a href="#">Košulje</a>
              <a href="#">Majice</a>
              <a href="#">Hlače</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon [icon]="faFemale"></fa-icon> Žene
              </h3>
              <a href="#">Haljine</a>
              <a href="#">Bluze</a>
              <a href="#">Link 3</a>
            </div>
            <div class="column">
              <h3>
                <fa-icon id="child" [icon]="faChild"></fa-icon> Djeca
              </h3>
              <a href="#">Majice</a>
              <a href="#">Hlače</a>
              <a href="#">Jakne</a>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </nav>
  <nav class="right-side">
    <ul class="navigation">
      <li>
        <div class="small-dropdown" style="float:right;">
          <a>
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </a>
          <div class="small-dropdown-content" id="cart-dropdown">
            <div *ngIf="cart?.items?.length == 0" class="no-items-message">
              <p>Trenutno nemate proizvoda u košarici.</p>
            </div>
            <div *ngIf="!isLoggedIn" class="not-authenticated-message">
              <p>Da bi mogli koristiti košaricu morate se prijaviti.</p>
            </div>
            <div *ngIf="cart?.items?.length > 0" class="cart-item">
              <div *ngFor="let item of cart.items" class="item">
                <div class="image">
                  <img [src]="getProductImage(item.product_img_id)" />
                </div>
                <div class="name">
                  <a class="product-link" [routerLink]="['/product', item.product_id]"
                    href="#">{{item.product_name}}</a>
                  <div class="price">
                    {{item.quantity}} x {{item.price }} kn
                  </div>
                </div>
                <div class="delete">
                  <button (click)="removeFromCart(item.id)">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="cart-summary">
                <p>Ukupno: {{ getTotalPrice() | number:'1.2-2' }} kn</p>
                <button [routerLink]="['/cart-summary', cart.id]">Završite kupnju</button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="small-dropdown" style="float:right;">
          <a>
            <span *ngIf="isLoggedIn">{{username}}</span>
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <div *ngIf="isLoggedIn" class="small-dropdown-content">
            <a class="dropdown-link" [routerLink]="['/admin']" href="#">Admin panel</a>
            <a class="dropdown-link" [routerLink]="['/dashboard']" href="#">Dashboard</a>
            <a class="dropdown-link" [routerLink]="['/shopping-history', userId]" href="#">Povijest kupnje</a>
            <a class="dropdown-link" [routerLink]="['/selling', userId]" href="#">Narudžbe</a>
            <a class="dropdown-link" [routerLink]="['/user-products', userId]" href="#">Moji proizvodi</a>
            <a class="dropdown-link" [routerLink]="['/profile', userId]" href="#">Moj profil</a>
            <a class="dropdown-link" (click)="logout()">Odjava</a>
          </div>
          <div *ngIf="!isLoggedIn" class="small-dropdown-content" [ngClass]="{'login-dropdown' : !isLoggedIn}">
            <button class="loggin-button" type="button">
              <a [routerLink]="['/authentication']">Prijavite se</a>
            </button>
            <small>Nemate račun?
              <a id="register-link" [routerLink]="['/authentication']" [queryParams]="{ type: 'register'}">Registrirajte
                se!</a>
            </small>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>