<div class="container">
    <div class="image">
        <img [src]="getProductImage(item.product_img_id)" />
    </div>
    <div class="name-price">
        <a class="product-link" [routerLink]="['/product', item.product_id]" href="#">{{item.product_name}}</a>
        <div *ngIf="!discountedPrice" class="price">
            {{item.quantity}} x {{itemPrice}} kn
        </div>
        <div *ngIf="discountedPrice" class="price">
            {{item.quantity}} x <span class="crossed">{{itemPrice}}</span> {{discountedPrice | number : '1.2-2'}} kn
        </div>
    </div>
    <div class="delete">
        <button (click)="removeFromCart()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </button>
    </div>
</div>