<div class="container">
    <div class="image">
        <img [src]="profileImgUrl">
    </div>
    <div class="text">
        <div class="username">
            <a [routerLink]="['/profile', comment.user.id]" href="#">{{comment.user.username}}</a>
        </div>
        <div class="comment">
            {{comment.comment}}
        </div>
    </div>
    <div class="delete">
        <button [class.mat-elevation-z2]="true" (click)="deleteComment()">
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>
    </div>
</div>
<hr>