$black: #0b0c10;
$lighter-black: #1a1d27;
$grey: #c5c6c7;
$flourescent-blue: #66fcf1;
$flourescent-blue-faded: #66fcf293;

.container {
  background-color: $lighter-black;
  min-height: 100vh;

  h1 {
    font-size: 3em;
    padding: 15px 0;
    color: $flourescent-blue;
  }

  .content {
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 25%);

    h2 {
      font-size: 2em;
      margin-bottom: 5px;
    }

    ul {
      list-style-position: inside;
      padding-bottom: 10px;

      li {
        list-style-type: disc;

        a {
          text-decoration: none;
          font-size: 1.2em;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
