<div *ngIf="isLoaded">
    <div class="header">
        <div class="title-container">
            <h2>Moji proizvodi</h2>
        </div>
        <div class="new-product-button-container">
            <button type="button" (click)="openProductForm()" class="button">Novi proizvod</button>
        </div>
    </div>
    <div class="products-list-container">
        <div *ngIf="products.length == 0" class="no-products background">
            <h2>Nemate proizvda!</h2>
        </div>
        <div *ngIf="products.length > 0" class="product-list background">
            <app-product-list-view [products]="products"></app-product-list-view>
        </div>
    </div>
</div>