<div class="item">
    <div class="image-container">
        <img [src]="imageUrl" />
    </div>
    <div class="managment-conatiner">
        <div class="header">
            <div class="name-container">
                <h3><a [routerLink]="['/product', product.id]">{{product.name}}</a></h3>
            </div>
            <div class="options">
                <mat-menu #appMenu="matMenu">
                    <button (click)="editProduct()" mat-menu-item>Uredi</button>
                    <button (click)="deleteProduct()" mat-menu-item>Obriši</button>
                </mat-menu>

                <button class="options-button" [matMenuTriggerFor]="appMenu">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </button>
            </div>
        </div>
        <div class="data-container">
            <div class="product-description">
                <p id="description">{{product.description}}</p>
            </div>
            <div class="product-details">
                <p>Cijena: <b>{{product.price | number:'1.2-2'}}kn</b></p>
                <p [ngClass]="{'restock': product.quantity == 0}">Raspoloživa količina: <b>{{product.quantity}}</b></p>
                <br>
                <button *ngIf="roleId == 3 && isRestockable" mat-raised-button class="restock-button" (click)="userRestock()">Obnovite
                    zalihu</button>
                <button *ngIf="roleId != 3" mat-raised-button class="restock-button" (click)="shopRestock()">Obnovite
                    zalihu</button>
            </div>
        </div>
    </div>
</div>