$black: #0b0c10;
$lighter-black: #1a1d27;
$grey: #c5c6c7;
$flourescent-blue: #66fcf1;
$flourescent-blue-faded: #66fcf293;

.component-container {
  background-color: $lighter-black;
  padding-bottom: 50px;
}

.container {
  background-color: $black !important;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 15px;
  color: $grey;
  height: 700px;
  //border: 1px solid $flourescent-blue;
}

.container h1 {
  color: $flourescent-blue;
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
}

.logo-container {
  width: 100%;
  background-color: $lighter-black;
}

.logo {
  width: 50%;
  display: block;
  margin: auto;
  background-color: $lighter-black !important;
}

/* tekst unutar inputa */
::ng-deep input.mat-input-element {
  color: $flourescent-blue;
}

/* label kad je fokusiran */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $flourescent-blue !important;
}

/* label kad nije fokusiran */
::ng-deep .mat-form-field .mat-form-field-label {
  color: $grey !important;
}

/* crta kad nije fokusirana  NE RADI*/
::ng-deep .mat-form-field-underline {
  background-color: $grey !important;
}

/* crta kad je fokusirana */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $flourescent-blue !important;
}

mat-form-field {
  display: inline-block;
  width: 100%;
}

.form-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 25px;
}

label {
  color: $grey;
  display: inline-block;
}

button#fileInputButton {
  margin-left: 30px;
  margin-bottom: 20px;
}

fa-icon {
  font-size: 15pt;
}

button.submitButton {
  display: block;
  width: 60%;
  margin: 25px auto;
}

.login-form-container {
  margin-top: 200px;
}

.login-active {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.registration-form-container .active-text {
  margin-top: 290px;
}

.login-form-container .active-text {
  margin-top: 100px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: white !important;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

mat-datepicker-toggle {
  color: white !important;
}
