p {
    margin-top: 15px;
}

ul {
    margin-left: 15px;
}

form {
    margin-top: 40px;

    .button-container {
        margin-top: 30px;

        .cancel-button {
            margin-left: 10px;
        }
    }
}
