<div *ngIf="user && role">
    <div class="header">
        <div class="profile-image-conainer">
            <img src="{{profilePictureUrl}}" />
        </div>
        <div class="username-container">
            <h2>{{user.username}}</h2>
        </div>
    </div>
    <div class="body">
        <div class="user-details">
            <div class="table-container">
                <table class="user-info">
                    <tr>
                        <td colspan="2">{{user.first_name}} {{user.last_name}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>
                            <fa-icon [icon]="faBirthdayCake"></fa-icon>
                        </td>
                        <td>{{user.birth_date}}</td>
                    </tr>
                    <tr>
                        <td>
                            <fa-icon [icon]="faUserTag"></fa-icon>
                        </td>
                        <td>{{role}}</td>
                    </tr>
                </table>
                <button mat-raised-button (click)="editUser()" class="button" *ngIf="isUsersProfile">Uredi
                    pojedinosti</button>

                <button matBadge="+" matBadgeColor="warn" mat-raised-button (click)="upgradeToShop()" class="button"
                    *ngIf="isUsersProfile && isUpgradeable">Nadogradnja u trgovinu</button>
            </div>
        </div>

        <div class="user-content">
            <app-shop-item *ngFor="let product of usersProducts" [product]="product"></app-shop-item>
        </div>
    </div>
</div>