/* You can add global styles to this file, and also import other style files */
@import './materialtheme.scss';

$black: #0b0c10;
$black-background: #1a1d27;
$grey: #c5c6c7;
$flourescent-blue: #66fcf1;
$flourescent-blue-faded: #66fcf293;

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
}

@font-face {
  font-family: "Comfortaa";
  src: url(./assets/Fonts/Comfortaa/static/Comfortaa-Medium.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*.mat-form-field .mat-form-field-ripple {
  background-color: $grey !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $flourescent-blue !important;
}

.mat-form-field .mat-form-field-ripple {
  background-color: $grey !important;
}

.mat-form-field .mat-form-field-label{
  color: $grey !important;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: $flourescent-blue !important;
}*/

/*.mat-focused .mat-form-field-label {
  color: $flourescent-blue !important;
}

.mat-form-field-ripple {
  background-color: $flourescent-blue !important;
}

.mat-form-field-label {
  color: $grey !important;
}

mat-form-field:not(.mat-focused) > .mat-form-field-ripple {
  background-color: $grey !important;
}*/