<div class="container">
    <h1>Statistika poslovanja</h1>
    <div class="content">
        <div class="left">
            <div *ngIf="latestTransactions" class="card">
                <h2>Prodaja zadnjih 7 dana</h2>
                <div>
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
            <div *ngIf="profits" class="card">
                <h2>Zarada</h2>
                <div>
                    <table id="profit-table">
                        <tr>
                            <th>Zadnjih 7 dana</th>
                            <th>Prošli mjesec</th>
                            <th>Od početka</th>
                        </tr>
                        <tr>
                            <td>{{profits.week}}kn</td>
                            <td>{{profits.month}}kn</td>
                            <td>{{profits.total}}kn</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card">
                <h2>Kuponi za popust</h2>
                <div>
                    <div *ngIf="!coupons">
                        Nemate kupona za popuste!
                    </div>
                    <table id="coupon-table" *ngIf="coupons" mat-table [dataSource]="coupons" class="mat-elevation-z8">
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef>Kupon</th>
                            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ammount">
                            <th mat-header-cell *matHeaderCellDef>Postotak</th>
                            <td mat-cell *matCellDef="let element"> {{element.ammount}}% </td>
                        </ng-container>

                        <ng-container matColumnDef="uses">
                            <th mat-header-cell *matHeaderCellDef>Broj ostalih kupona</th>
                            <td mat-cell *matCellDef="let element"> {{element.uses}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <form [formGroup]="newCoupon" (submit)="addCoupon()">
                        <div>
                            <mat-form-field>
                                <mat-label>Kupon</mat-label>
                                <input type="text" name="code" formControlName="code" matInput>
                                <mat-error *ngIf="code.hasError('required')">
                                    Naziv kupona je <strong>obavezan</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field>
                                <mat-label>Popust u %</mat-label>
                                <input type="number" name="ammount" formControlName="ammount" matInput>
                                <mat-error *ngIf="ammount.hasError('required')">
                                    Popust kupona je <strong>obavezan</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field>
                                <mat-label>Broj kupona</mat-label>
                                <input type="number" name="uses" formControlName="uses" matInput>
                                <mat-error *ngIf="uses.hasError('required')">
                                    Broj kupona je <strong>obavezan</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="button-container">
                            <div>
                                <button [disabled]="!newCoupon.valid" mat-raised-button color="accent"
                                    type="submit">Dodaj kupon</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="card">
                <h2>Najnoviji komentari:</h2>
                <div>
                    <div *ngIf="!latestComments || latestComments?.length == 0" class="no-data">
                        <p>Nema komentara na vašim proizvodima!</p>
                    </div>
                    <div *ngIf="latestComments && latestComments.length > 0" class="comments">
                        <p *ngFor="let comment of latestComments" class="comment">
                            <a [routerLink]="['/profile', comment.user.id]" href="#">{{comment.user.username}}</a>
                            komentira
                            <span>{{comment.comment}}</span> <small> u {{comment.created_at}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="transactions" class="card">
                <h2>Ukupan broj prodanih proizvoda</h2>
                <div>
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>