form {
    mat-form-field {
        margin-top: 20px;
        width: 40%;
    }

    h2 {
        color: lightgray;
        margin-top: 10px;
    }

    .buttons {
        margin-top: 20px;
        width: 100%;

        .submit {
            margin-right: 10px;
        }
    }
}
